.rxid-table table thead {
  color: #939393;
}

.rxid-table table thead tr td {
  font-weight: 500;
  font-size: 14px;
}

.rxid-table table thead tr th.sortable {
  cursor: pointer;
}

.rxid-table table thead tr th.sortable div.th-content span.sort {
  display: block;
}

.rxid-table table thead tr th div.th-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Tablle Footer */
.rxid-table .rxid-table-footer {
  display: flex;
  justify-content: space-between;
}
.rxid-table .rxid-table-footer select-max-row {
  width: 64px;
}
